div.badge-image
  img(src=badge.image.original.defaultUrl)

div.badge-data
  div.badge-name
    h2
      a(href=urlFor(badge, 'badges')) #{badge.name}
  div.badge-description
    != badge.description
  div.badge-counts
    if(typeof badge.issued_on != 'undefined')
      strong issued on #{formatDate(badge.issued_on)}
      br
    else if(typeof badge.issued_count != 'undefined')
      strong #{badge.issued_count} issued
      br
      | Created On
      strong  #{formatDate(badge.created_at)}
