div.badge-image
  img(src=badge.image)

div.badge-data
  div.badge-name
    h2
      a(href=urlFor(badge)) #{badge.name}
  div.badge-description
    != badge.description
  div.badge-counts
    strong #{badge.issued_count} issued
    br
    | Created On
    strong  #{badge.display_created_at()}
