
div#badge-show
  div.row
    div.span3.offset1
      img(src=badge.imageUrl).display-badge-image
      img(src=badge.grayImageUrl).display-badge-image
    div.span6
      h1(style="margin-top:30px;") #{badge.name}
      img(src=badge.miniImageUrl).display-badge-image
      img(src=badge.miniGrayImageUrl).display-badge-image
  div.row
    div.span5.offset1
      table.table.table.striped.table-hover.table-condensed.badge-details
        if badge.description
          tr
            td Description
            td #{badge.description}
        tr
          td Criteria
          td #{badge.criteria}
        tr
          td Facebook Share Text
          td #{badge.facebook_text}
        tr
          td Twitter Share Text
          td #{badge.twitter_text}
        if badge.link
          tr
            td Share Link
            td #{badge.link}
        if badge.version
          tr
            td Version
            td #{badge.version}
        tr
          td Issuer
          if issuer.origin
            td #{issuer.name} - 
              a(href="#{issuer.origin}") (#{issuer.origin})
          else
            td #{issuer.name}
        if badge.tags.length > 0
          tr
            td Tags
            td
              each tag in badge.tags
                span.tag
                  = tag
        tr
          td Issue URL
          td #{badge.slugUrl}
        tr
          td Slug
          td #{badge.slug}
    div.span3
      select.select-user(disabled="disabled")
      br
      button(disabled="disabled").user-action-btn.btn.issue.btn-success Issue Badge
      button(disabled="disabled").user-action-btn.btn.revoke.btn-warning(style="margin-left:15px;") Revoke Badge

  div.row
    div.span3.offset1
      button.btn.btn-link
        a(href="/badges/#{badge.slug}/edit") Edit Badge
      form.delete-form(action="/badges/#{badge.slug}", method='post', class="delete", data-confirm='Are you sure you want to delete this badge?')
        input(type="hidden", value="delete", name="_method")
        button.btn.btn-danger.delete-badge(style="margin-left:15px; margin-top:5px;") Delete
  
  script
    $(document).ready(init);

    function init() {
      $.get('/users/#{badge.issuer_id}/all', function(users){
        appendOpt("Choose A User", "");
        $.each(users, function (index, user){
          appendOpt(user.username)
        });
        $('.select-user').select2({
          placeholder: "Select a user"
        });
        $('.select-user').on("change", onUserChange);
      });

      $('.issue').click(function(){
        var username = $('.select-user').val();
        if ( username ) {
          $.ajax({
            type: "POST",
            url: '/badges/issue/#{badge.slug}',
            data: {username:username},
            success: function(data){
              var msg;
              if ( data.earned === true ) {
                msg = "'#{badge.name}' has been issued to " + username;
                alertify.alert( msg );
              } else {
                msg = data.message;
                alertify.log( msg, 'error' );
              }
              
            },
          });
        }
      });

      $('.revoke').click(function(){
        var username = $('.select-user').val();
        if ( username ) {
          $.ajax({
            type: "POST",
            url: '/badges/revoke/#{badge._id}',
            data: {username:username},
            success: function(data){
              if ( data.revoked ) {
                alertify.alert( "Revoked '#{badge.name}' from user " + username );
              } else {
                alertify.error( "Could not revoke '#{badge.name}' from " + username );
              }
            }
          });
        }
      });

      $('.delete-badge').click(function(e){
        e.preventDefault();
        var msg = $('.delete-form').data('confirm');
        alertify.confirm(msg, function(e){
          if (e) {
            $('.delete-form').submit();
          } else {
            alertify.log("Bade deletion canceled.")
          }
        });
      });

      function appendOpt(val, content) {
        var opt = $('<option></option>');
        content = content || val;
        $(opt)
          .html( content )
          .attr( 'value', val );
        $('.select-user')
          .append( opt )
          .removeAttr( 'disabled' );
      }

      function onUserChange(e) {
        var username = $('.select-user').val();

        if ( username !== 'Choose A User' ) {
          $('.user-action-btn').removeAttr('disabled');
        } else {
          $('.user-action-btn').attr('disabled', 'disabled');
        }
      }
    }























