div#badge-show
  div.row
    div.span2
      img(src=badge.image)
    div.span8
      h1 #{badge.name}
  div.row
    div.offset2
      div.description
        strong
          | Badge Description:
        br
        != badge.description
  if badge.criteria
    div.row
      div.offset2.criteria
        strong
          | Badge Criteria:
        br
        != badge.criteria
  if badge.version
    div.row
      div.offset2.version
        strong
          | Version:  
        = badge.version
  div.row
    div.offset2.issuer 
      strong
        | Issuer:  
      | #{issuer.name} 
      - if(issuer.origin)
        | (
        a(href=issuer.origin, target='_blank')= issuer.origin
        | )
  div.row
    div.url.offset2
      strong Issue URL:  
      | http://#{process.env.HOST}/badges/issue/#{badge.id}

  div.row
    div.url.offset2
      strong Slug:  
      = badge.slug

  div.row
    form(action="/badges/#{badge.id}", method='post', class="delete", data-remote="true")
      input(type="hidden", value="delete", name="_method")
      input(type="submit", value="Delete", class="delete")
