div.row
  div.span9
    h1.org-name=org.name
    h4.org-name
      a(href=org.origin)
        = org.origin

  div.span3
    ul.actions
      li
        a(href='/badges/new', class="new-badge")
          | Create a New Badge
      li
        a(href='/users', class="new-badge")
          | Manage Users

      li
        a(href="/organizations/#{org.id}", class="new-badge")
          | View Organization Info
div.row
  div#badge-listing.span9
    h2.list Badges
    div.badge-count Showing #{badges.length} of #{badgeCount} &#8211; 
      a(href="/badges") View All
    ul.badge-list
      each badge in badges
          include ../../../views/shared/badge
