form#create-user-form.form-horizontal(action=url, method="post")
  legend New User
  if user._id
    input.hide(type="text", value="#{user._id}", name="user[id]")
  div.control-group
    label.control-label(for="inputUsername") Username
    div.controls
      if user.username
        input#inputUsername(class="span3", required, type="text", name="user[username]", value="#{user.username}")
      else
        input#inputUsername(class="span3", required, type="text", name="user[username]", placeholder="jdoe123")
  div.control-group
    label.control-label(for="inputEmail") Email
    div.controls
      if user.email
        input#inputEmail(class="span3", required, type="email", name="user[email]", value="#{user.email}")
      else
        input#inputEmail(class="span3", required, type="email", name="user[email]", placeholder="jdoe123@domain.com")

  div.control-group
      label.control-label(for="inputOrg") User Organization
      select#inputOrg(required, name="user[organization]")
        if userOrg
          option(value="#{userOrg}") #{userOrg}
        else
          option(value="") Organization
  div.control-group
    label.control-label(for"inputImage") User Image
    div.controls
      input(style="font-size:12px; width:200px", type="file", name="user[image]")
  input(type="submit")

script
  var orgs = !{JSON.stringify(orgs)}

  for (var o in orgs) {
    var obj = orgs[ o ];
    var option = $('<option>');
    $(option).attr('value', obj.name);
    $(option).html( obj.name );
    $('#inputOrg').append(option);
  }