div.user-info-container
  div.user-image-container
    if user.image
      img(src="#{user.image}")
    else
      img(src="/images/user.png")
  legend.user-info-legend User Info
  table.table.table-striped.table-bordered
    tr
      td Username
      td #{user.username}
    tr
      td Name
      if user.name
        td #{user.name}
      else
        td -
    tr
      td Email
      if user.email
        td #{user.email}
      else
        td -
    tr
      td Organization
      td #{org.name}
  legend Earned Badges
  div.badges-container
    if badges.length > 0
      each badge in badges
        div.media
          a.pull-left(href="#{host}/badges/#{badge.id}")
            img.media-object(src="#{badge.image}")
          div.media-body
            h3.media-heading #{badge.name}
            h4.media-heading #{badge.criteria}
    else
      h2 None (Yet)



