div.user-info-container
  div.user-image-container
    if user.image
      img(src="#{user.image}")
    else
      img(src="/images/user.png")
  legend.user-info-legend User Info
  table.table.table-striped.table-bordered
    tr
      td Username
      td #{user.username}
    tr
      td Name
      if user.name
        td #{user.name}
      else
        td -
    tr
      td Email
      if user.email
        td #{user.email}
      else
        td -
    tr
      td Organization
      td #{org.name}
  legend.user-actions-legend Actions
  div.btn-group.user-actions
    form.delete-user-form.hide(method="post", action="#{host}/users/delete/#{user._id}")
    button.btn Actions
    button.btn.dropdown-toggle(data-toggle="dropdown")
      span.caret
    ul.dropdown-menu
      li
        a.delete-user(href="#", data-id="#{user._id}") Delete User
      li
        a.edit-user(href="#{host}/users/new?id=#{user._id}") Edit User
  legend.earned-badges-legend Earned Badges
  div.badges-container
    if badges.length > 0
      each badge in badges
        div.media
          a.pull-left(href=urlFor(badge, 'badges'))
            img.media-object(src="#{badge.image}")
          div.media-body
            h3.media-heading #{badge.name}
            h4.media-heading #{badge.criteria}
    else
      h2 None (Yet)

script
  $('.delete-user').on('click', function(e){
    e.preventDefault();
    var self = this;
    var id = $(this).data('id');
    var message = "Are you sure you want to delete this user?"
    alertify.confirm( message, function (e) {
      if (e) {
          $('.delete-user-form').submit();
      } else {
        alertify.log( "Deletion Canceled!", "warn" );
      }
    });
  });




